table > thead {
    border-bottom: 1px solid black;
}
header {
    width: 60%;
}
.avgGrade {
  float: right;
  margin-bottom: 1.5%;
}
.table {
    width: 65%;
    height: 200px;
    
}
thead {
    font-size: 20px;
    font-weight: bolder;
}
tr:nth-child(even) {
    background-color: lightgrey;
}

h1 { 
    font-size: 4rem;
    padding-bottom: 20px;
    margin-left: 5rem;
}
.row {
    margin-top: 30px;
}